/*  import google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins&family=Roboto:wght@100;400&family=Rubik+Wet+Paint&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@500;600&family=Poppins&family=Questrial&family=Roboto:wght@100;400&display=swap');
*{  background-color: #212428;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .Box-cursor{
    cursor: pointer;
}

.body1 {
    font-family: "Quicksand", sans-serif;
    display: grid;
    place-items: center;
    background: #212428;
    background: linear-gradient(145deg, #1e2024, #23272b);
    margin: auto;
    padding: 0%;

  }
  
  section{
    padding: 40px;
}
  
  .container {
    font-family: "Quicksand", sans-serif;
    z-index: 99999999;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    padding: 60px 150px;
    gap: 2rem;
  }

.main-box{
    background-color: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
    padding: 25px;
    margin: auto;
    z-index: 1;
    color: #878e99;
    border-radius: 10px;
    overflow: hidden;
    border: none;    
}

.poster-image{
    width: 100%;
    height:auto;
    border-radius: 10px;
}

.date{    
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #c4cfde;
    font-weight: bold;
    margin-bottom: 9px;
}


.heading{font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    color: #c4cfde;
    margin-top: 20px;
    margin-bottom: 40px;}

.main-box p{
    font-size: 16px;
    line-height: 28px;
    color: #878e99;
    font-weight: 400;
}

.main-box h4{
font-size: 30px;
color: #c4cfde;
font-weight: bold;
margin:0;
margin-bottom: 20px;
}

  html{
    scroll-behavior: smooth;
}





/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */

.border{width: 85%; 
    height:auto; 
    border-radius:50%;
    border: 8px solid #0beef9; 
} 

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    /* background: #0beef9; */
    border: 1px solid white;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}








  
/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .home .home-content .max-width4 img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: linear-gradient(145deg, #1e2024, #23272b);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .home .home-content .column{
        width: 100%;
    }
    .home .home-content .max-width3{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .home .home-content .max-width4{
        flex: 100%;
    }

    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}


















@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .max-width1{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .home .home-content .max-width3 .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

  